.app {
  width: 100%;
  min-width: 1200px;
  min-height: 100vh;
  position: relative;
}

.header {
  height: 70px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 199;
}

.header-front {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.header-container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  color: #303659;
}
.logo sup {
  font-size: 14px;
  margin-left: 5px;
  font-weight: 400;
}

.content {
  background: rgb(251, 251, 251);
  padding: 100px 0px 150px;
}

.container {
  width: 980px;
  margin: auto;
}

.container h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.container h3 {
  font-size: 14px;
}

.container .sector {
  margin: 20px 0;
}

.search {
  margin: auto;
  margin-bottom: 70px;
  width: 790px;
  background-color: #fff;
  padding: 16px 24px 16px 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #dce3f2;
  box-shadow: 0 20px 40px rgba(52,100,224,.1);
}
.search-input {
  width: 576px;
  height: 48px;
  padding: 0 10px;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system,Source Sans Pro,BlinkMacSystemFont,PingFang SC,Helvetica,Tahoma,Arial,Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #303659;
  background: none;
  outline: none;
  border: 0;
  -webkit-font-smoothing: antialiased;
}
.search-button {
  cursor: pointer;
  flex-shrink: 0;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  background-color: #3464e0;
  border: none;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  color: #fff;
}

.sector .links {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.sector .links::after {
  content: "";
  width: 300px;
  display: block;
  height: 0;
}

.sector .links .link {
  width: 310px;
  background: #fff;
  display: -webkit-box;
  display: flex;
  box-shadow: 0 1px 5px rgba(180,195,255,.3);
  transition: all .2s ease;
  align-items: center;
  padding: 15px 10px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: 1px solid transparent;
}
.sector .links .link h3 .highlight {
  font-size: 14px;
}
.sector .links .link p .highlight {
  font-size: 12px;
}
.react-autosuggest__suggestions-container .highlight {
  color: #dd4b39;
}
.react-autosuggest__suggestion {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  transition: all .2s ease;
  align-items: center;
  padding: 15px 5px;
  border-radius: 2px;
  border: 1px solid transparent;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #F2F2F2;
}
.react-autosuggest__suggestion img {
  width: 30px;
  height: 30px;
  flex-basis: 30px;
  object-fit: contain;
  margin-right: 10px;
}
.react-autosuggest__suggestion h3 {
  flex-basis: 100px;
  font-size: 14px;
  margin-right: 20px;
}
.react-autosuggest__suggestion p {
  font-size: 12px;
  color: #888ea2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  text-align: left;
  line-height: 1.8;
}

.sector .links .link:hover {
  box-shadow: 0 2px 10px rgba(180,195,255,.5);
  border: 1px solid #3464e0;
}

.sector .links .link img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.sector .links .link .info {
  width: 230px;
}

.sector .links .link .info p {
  font-size: 12px;
  color: #888ea2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
  text-align: left;
  line-height: 1.8;
}

.container .sector h2 {
  font-size: 16px;
  text-align: left;
  margin: 10px 0 20px;
  padding-top: 20px;
  font-weight: 700;
}

.side-nav {
  position: fixed;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

ul {
  list-style: none;
}

.side-nav .li,
.side-nav li {
  cursor: pointer;
  padding: 6px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.side-nav li.active span {
  color: rgb(52, 100, 224);
  font-weight: 700;
}

.side-nav .side-nav-title {
  font-size: 12px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.side-nav .side-nav-dot {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #c2c8e1;
  margin-right: 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer-bottom {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-top: 1px solid #ebecf3;
}
.footer-bottom .copyright {
  margin-top: 20px;
  color: #787fa9;
  font-size: 12px;
}
.footer-bottom span,
.footer-bottom a {
  color: #787fa9;
  font-size: 12px;
}
.footer-bottom .powered {
  padding: 15px 0;
}
